{%  include "header.html" %}
		
		<div class="lt" id="C_page">

<div id="C_pageBody">

<div id="C_context">
<div class="noNav" id="C_document">
<div class="docBox">
    <div class="docSection">
        <h4>温馨提示：发布自己的原创旅游攻略可以换取积分兑换礼品哦！</h4>
    </div>
    
</div>
<div class="line line-gutters">
    <div class="unit size5of7">
            <div class="docBox">
                <div class="docSection">
                    <h2>{{gs.title}}</h2>
                </div>
                <div class="sectionList article-content" style="font-size: 15px">
                	{{gs.content|safe}}
                </div>
            </div>
       
    </div>
<!--     <div class="unit lastUnit">
        <div class="docBox">
            <div class="docSection">
                <h2></h2>
                <ul class="dividedList">
                           
                            <li><p><a href="#">5.</a></p></li>
                            
                </ul>
            </div>
        </div>
    </div> -->
</div>






</div>



</div><!-- C_context -->
</div><!-- C_pageBody -->


</div>
		
		<div id="fb-root">
			<p>2019 旅游网 All rights reserved. 十一宿电竞有限公司 版权所有</p>
			<p>ICP备案号 琼ICP备14002217号</p>
		</div>

		
		<script src="assets/js/lib/jquery.1.10.1.min.js"></script>
		<script src="assets/js/lib/bootstrap-dropdown.js"></script>
		<script type="text/javascript">
			$(function(){
				$("#nav-profile .dropdown-toggle").dropdown();
			});
		</script>

	</body>
</html>