{%  include "header.html" %}
		
		<div id="C_page" class="lt">
			<div id="C_pageBody">
				<div class="g-group l-padded-v-bottom-3">
				    <div class="g-cell g-cell-1-1 g-cell-lg-2-4 l-padded-v-2">
				        <a href="/5" class="category-card js-category-link">
				            <div style="background-image: url('/static/images/tmp/index/timg (1).jpg');" class="category-card__image">
				                <div class="category-card__description-wrapper l-align-center">
				                    <div class="category-card__description l-padded-v-1 l-padded-h-1">美丽天津</div>
				                </div>
				            </div>
				        </a>
				    </div>
				    <div class="g-cell g-cell-1-1 g-cell-lg-2-4 l-padded-v-2">
				        <a href="/" class="category-card js-category-link">
				            <div style="background-image: url('/static/images/tmp/index/663.jpg');" class="category-card__image">
				                <div class="category-card__description-wrapper l-align-center">
				                    <div class="category-card__description l-padded-v-1 l-padded-h-1">青岛攻略</div>
				                </div>
				            </div>
				        </a>
				    </div>
				    <div class="g-cell g-cell-1-1 g-cell-lg-1-4 l-padded-v-2">
				        <a href="/" class="category-card js-category-link">
				            <div style="background-image: url('/static/images/tmp/index/xt_01.jpg');" class="category-card__image">
				                <div class="category-card__description-wrapper l-align-center">
				                    <div class="category-card__description l-padded-v-1 l-padded-h-1">海南特产</div>
				                </div>
				            </div>
				        </a>
				    </div>
				    <div class="g-cell g-cell-1-1 g-cell-lg-1-4 l-padded-v-2">
				        <a href="/" class="category-card js-category-link">
				            <div style="background-image: url('/static/images/tmp/index/u6.jpg');" class="category-card__image">
				                <div class="category-card__description-wrapper l-align-center">
				                    <div class="category-card__description l-padded-v-1 l-padded-h-1">艺术欣赏</div>
				                </div>
				            </div>
				        </a>
				    </div>
				    <div class="g-cell g-cell-1-1 g-cell-lg-1-4 l-padded-v-2">
				        <a href="/" class="category-card js-category-link">
				            <div style="background-image: url('/static/images/tmp/index/xt_03.jpg');" class="category-card__image">
				                <div class="category-card__description-wrapper l-align-center">
				                    <div class="category-card__description l-padded-v-1 l-padded-h-1">怀旧时光</div>
				                </div>
				            </div>
				        </a>
				    </div>
				    <div class="g-cell g-cell-1-1 g-cell-lg-1-4 l-padded-v-2">
				        <a href="/" class="category-card js-category-link">
				            <div style="background-image: url('/static/images/tmp/index/xt3.jpg');" class="category-card__image">
				                <div class="category-card__description-wrapper l-align-center">
				                    <div class="category-card__description l-padded-v-1 l-padded-h-1">品味经典</div>
				                </div>
				            </div>
				        </a>
				    </div>
    			</div>


				<div>
					<h4 class="margin-bottom">旅游攻略</h4>
					<ul class="event-listing-container search-result">
						<li class="event-listing line-gutters clearfix doc-padding">
							<div class="unit size1of7">
								<a href="/article/2" class="list-time unlink omnCamp omngj_sj7ealla omnrv_fe1alla">
									<img src="/static/images/tmp/index/001.jpg" width="99"/>
								</a>
							</div>
							<div class="unit size6of7">
								<a href="/article/2" class="big event-title bold unlink-dark wrapNice omnCamp omngj_sj7ealla omnrv_fe1alla"> 
									<span>杭州游玩最强攻略</span>
								</a>
								<div>
									<span>
										上有天堂，下有苏杭。
									</span> 
								</div>
							</div>
						</li>
						<li class="event-listing line-gutters clearfix doc-padding  " data-year="2014" data-month="9" data-day="25" itemscope="" itemtype="http://data-vocabulary.org/Event">
							<div class="unit size1of7">
								<a href="/article/6" class="list-time unlink omnCamp omngj_sj7ealla omnrv_fe1alla">
								<img src="/static/images/tmp/index/index002.jpg" width="99"/> 
								</a>

							</div>
							<div class="unit size6of7">
								<a href="/article/6" class="big event-title bold unlink-dark wrapNice omnCamp omngj_sj7ealla omnrv_fe1alla"> 
									<span itemprop="summary">潇湘夜雨，地道湘菜</span>
								</a>
								<div>
									<span itemprop="name">
										菜的味道还行，价格在相比周边也不算很贵。门口像是大排档，不过交通方便。东北特色菜很多，用茶缸喝的萝卜条汤很受欢迎。口味较纯正，量足。每桌就餐都有海南特色水果赠送。
									</span> 
								</div>
							</div>
						</li>
						<li class="event-listing line-gutters clearfix doc-padding  " data-year="2014" data-month="9" data-day="25" itemscope="" itemtype="">
							<div class="unit size1of7">
								<a href="/article/3" class="list-time unlink omnCamp omngj_sj7ealla omnrv_fe1alla">
								<img src="/static/images/tmp/index/index003.jpg" width="99"/> 
								</a>

							</div>
							<div class="unit size6of7">
								<a href="/article/3" class="big event-title bold unlink-dark wrapNice omnCamp omngj_sj7ealla omnrv_fe1alla"> 
									<span itemprop="summary">
									鸿港市场——三亚人常去的市场！
									</span> 
								</a>
								<div>
									<span itemprop="name">
										去三亚游玩的人大多只知第一市场，不知鸿港市场。而住在三亚的人大多只去鸿港市场，不去第一市场。三亚周边 景点这次去三亚前，我在购物上也做足了功课。看到曾经辉煌的第一市场，现在已经沦为要拿着秤钩子给自己壮胆 的地步，实在为传说中勤劳淳朴的三亚人民捏把汗。好在后来看到了不少人推荐鸿港农贸市场，感觉终于见到了一 丝曙光。

									</span> 
								</div>
							</div>
						</li>
						<li class="event-listing line-gutters clearfix doc-padding  " data-year="2014" data-month="9" data-day="25" itemscope="" itemtype="http://data-vocabulary.org/Event">
							<div class="unit size1of7">
								<a href="/article/3" class="list-time unlink omnCamp omngj_sj7ealla omnrv_fe1alla">
								<img src="/static/images/tmp/index/index004.jpg" width="99"/> 
								</a>

							</div>
							<div class="unit size6of7">
								<a href="/article/3" class="big event-title bold unlink-dark wrapNice omnCamp omngj_sj7ealla omnrv_fe1alla"> 
									<span itemprop="summary">
									候鸟老人去三亚怎样找到好房子
									</span> 
								</a>
								<div>
									<span itemprop="name">
										候鸟生活是否舒适的关键因素是要有一个良好的住宿环境，不过动辄上千甚至几千元的高档宾馆自然不适合普通候 鸟老人。所以老人来三亚，找到一处既方便生活，又在经济上能够承受的居所，是非常重要的。

									</span> 
								</div>
							</div>
						</li>
						

												
											</ul>
				</div>  <!-- end gl -->

				<div>
					<h4 class="margin-bottom">热门景点</h4>
					<ul data-view="card" class="name-card your-mugs search-card cardList cardListResponsive has2 has2-at-medium has1-at-handheld">
							

						
							{%  for i in sl %}
							<li class="simple-card-li round">
								<div class="simple-card">
									<a href="/item/{{i.id}}" class="card-photo nametag-photo" style="background-image: url(/{{i.pic}});">
										<div class="nametag-photo-name ">
											<h3 class="margin-bottom padding-none loading">
												{{i.name}}
											</h3>
										</div>
									</a>
									<div class="ffbox ffbox--fixed">
										<div class="ffbox-flex doc-content" style="position: relative;">
											<h4 class="ellipsize">
												&yen;{{i.price}}
											</h4>
											<p class="muted small">
												{{i.address}}
											</p>
										</div>
									</div>
								</div>
							</li>
						{%  endfor  %}
							
							
						
						</ul>
				</div>  <!--  end scenic -->


				<div>
					<h4 class="margin-bottom">酒店住宿</h4>
					<ul data-view="card" class="name-card your-mugs search-card cardList cardListResponsive has2 has2-at-medium has1-at-handheld">
							{%  for i in hl %}
							<li class="simple-card-li round">
								<div class="simple-card">
									<a href="/detail/{{i.id}}" class="card-photo nametag-photo" style="background-image: url(/{{i.pic}});">
										<div class="nametag-photo-name ">
											<h3 class="margin-bottom padding-none loading">
												{{i.title}}
											</h3>
										</div>
									</a>
									<div class="ffbox ffbox--fixed">
										<div class="ffbox-flex doc-content" style="position: relative;">
											<h4 class="ellipsize">
												&yen;{{i.price}}
											</h4>
											<p class="muted small">
												{{i.address}}
											</p>
										</div>
									</div>
								</div>
							</li>
						{%  endfor  %}
							
							
						
						</ul>
				</div>  <!--  end scenic -->




					
			</div>
		</div>
		<div id="fb-root">
			<p>&copy;2019 旅游网 All rights reserved. </p>
			<p>旅游网 版权所有</p>
		</div>

		<style>
.ellipsize{
	font-size: 16px;
	color: #ec1611;
}
		</style>
		<script src="/static/js/lib/jquery.1.10.1.min.js"></script>
		<script src="/static/js/lib/bootstrap-dropdown.js"></script>
		<script type="text/javascript">
			$(function(){
				$("#nav-profile .dropdown-toggle").dropdown();
			});
		</script>

	</body>
</html>